
/*body*/
body{
    font-family : 'Raleway', sans-serif ;
    background: white; 
    margin: 0px; 
    width: 100%;
    display: flex;
    flex-direction: column;
}
/*header*/
header
 {
display:flex;
justify-content: space-between;
align-items: center;
height: 100px;
 }

#logo
 {
align-content: flex-start;
flex:1;
 height: 100%;
padding-left: 60px;
padding-top: 50px;
}
nav
 {
   align-content: center;
   height: 100%;
}

.menu {
    list-style-type: none;
    display: flex;
   flex-direction: row;
    width: 100%;
    height: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.lien_menu {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 100%;
  border-top: 3px solid #FFFFFF; 

}
.lien_menu:hover 
 {
    color: #0065fc;
    border-top: 3px solid #0065fc; 
 } 
.lien_menu a {
    
    text-align:center; 
    color: black;
    text-decoration: none;
}
.lien_menu a:hover {
    
    color: #0065fc;
    
}
#inscrire
 {
  display: flex; 
  align-items: center;
   align-content: flex-end;
   height: 100%;
   padding-right: 60px;
   padding-top: 7px;
}

.en_gras
 {
font-weight: 600;
color: #0065fc ;
text-decoration: none;  
}


/*fin header*/

/*section1 */
#section0 
{
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  gap:15px;
}
h1
{
 font-size: 1.3em;
}
p{
 font-size: 1em;
}
#recherche{
  display: flex;
flex-direction: row;
}
 .map
 {
   display:flex;
   align-items: center;
   justify-content: center;
   width: 50px;
   height: 50px;
   border-radius: 10px 0px 0px 10px;
   background-color: #f2f2f2;
 }
#search
{
  border: 2px;
  width: 220px;
  height: 50px;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  padding-right: 70px;
}
#button
{
 cursor:pointer;
  height: 45px;
  width: 135px;
  border-radius: 0px 10px 10px 0px;
  border:none;
  background-color: #0065fc;
  color:white;
  font-size: 1em;
}
.iconloupe > i
{
  display: none;
}
/*filtres*/
.margfiltre {

  margin-bottom: 50px;
}
.filtre{
  display:flex;
  flex-direction: row;
  padding:0px 50px 30px 0px;
  width: auto;
  align-items: center;
  font-size: 0.9em;

}
.marginfiltretitre{
  margin-right: 20px;
}
.bottonFilter
{ 
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filtretexteicons{
  display:flex;
  text-align: center;
  
  vertical-align: middle;
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}
.filtretexteicons:hover > .filtretexte {
   color:#0065fc;
}
.filtrtexteicons :hover > .filtreicons {
  color: white;
  background-color: #0065fc;
}
.filtretexte {
  display: flex;
 align-items: center;
 justify-content: center;
  height:50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
  font-weight: bold;
}
.filtreicons {
  display: flex;
 align-items: center;
 justify-content: center;
  margin-left: -2px;
  border-radius: 25px;
  width: 52px;
  height:52px;
  color:#0065fc;
  background-color: #deebff;
}
.info{

  display: flex;
  align-items: center;
  padding-bottom: 20px;
  gap:10px;

}
#icon1
{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color:#0065fc;
  width: 20px;
  padding-bottom: 20px;
 

  
}

/*footer*/
footer {
    
  display:flex;
  padding: 40px 40px 40px 40px;
  gap: 300px;
  background-color: #f2f2f2;
 
}
.footerColomn
{
  display: flex;
  flex-direction: column;
  
 
 }    

.lien_footer
{
 display: flex;
 flex-direction: column;
 gap:5px;
 

   
}
.lien_footer a
{
 
  font-size: 0.8em;
  text-decoration: none;
   color:black;
  
}
.footerColomn h3 {
  display: flex;
  font-size: 1.17em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
 /* fin footer*/
    
 /* section2 */

 #section2{
   display: flex;
   flex-direction: row;
  gap: 50px;
  padding-left: 60px;
  padding-right: 60px;
 
  
  
  }


 #hebergement{
  width: 75%;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
 }
 #hebergement >h4 {
  display: flex;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.conteneur
{
  display: flex;
  flex-direction:row ;
  width: 100%;
  gap: 20px;
}

 .box
{
  width: 33%;
  height: 200px;
  padding: 5px ;
  flex-grow: 1;
  background-color: white;
  border-radius:10px;
  display: flex;
  flex-direction: column;
  

}

.img {
  display:flex;
  width: 100%;
  height: 60%;
  border-radius: 15px 15px 0px 0px;
  }

.img > img {
  display:flex;
  width: 100%;
 border-radius: 15px 15px 0px 0px;
 object-fit: cover;
  }
  .detail{
    display:flex;
  width: 100%;
  height: 40%;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  }
  .detail > p
 {
   
   display: flex;
   margin-block-start: 0px;
   margin-block-end: 0px;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-size: 1.0em;
   
  
   
 }
 .star
 {
   display:inline-flex;
   justify-content: flex-start;
   font-size: 0.6em;
   padding-left: 10px ;
 
 }
 
 .fa-star
 {
   color:#f2f2f2;
   padding: 0.0625em;
 }



.afficher_plus
{
display: flex;
align-items:flex-start;
padding-left: 10px;
padding-top: 10px;
  text-decoration: none;
  color:black;
  font-size: 1.2em;
  font-weight: bold;
  
}

 #populaire{
  display:flex;
  flex-direction: column;
  width: 25%;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 15px;
  gap:10px;
 }
 .titrepop
 {
  display:flex;
  justify-content: space-between;
 }
 .chart{
  
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .chart > i{
   display: flex;
 }
 .cardPlusPop
 {
   display:flex;
   flex-direction:row;
   background-color: white;
   border-radius: 15px;
   width: 100%;
   height:150px;
   gap:20px
 
 }
.imgPlusPop
{
 display:flex;
 
 width: 40%;
 height: 140px;
 padding:5px;
 border-radius: 15px 0px 0px 15px;
}
.imgPlusPop > img
{
 display:flex;
 width: 100%;
 border-radius: 15px 0px 0px 15px;
 object-fit: cover;
}
.detailsPop
 {
   display:flex;
   flex-direction: column;
   line-height: 10px;
   background-color: white;
   border-radius: 15px;
   width: 60%;
   
 }
 
 /*fin section 2*/

 /*debut section3*/
#section3
{
  display: flex;
  flex-direction: column ;
  padding: 20px;
 
   
  
   
}

 #titre-activités
 {
   display: flex;
   justify-content: flex-start;
   width:100%;
   font-size: 1em;
   
 
 }
 .conteneur1
{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding-bottom: 60px;
  width: 100%;
  height: 450px;
  gap: 20px;
  
}
.box1
   {
     display:flex;
     flex-direction: column;
     
     height: 100%;
     width: 25%;
     box-shadow: #f2f2f2 5px 5px 5px 1px;
     border-radius: 25px;
   }
   .imgActivite1
   {
    display:flex;
    width: 100%;
    height: 90%;
    
   }
   .imgActivite1  > img
    {
     display:flex;
     width: 100%;
     border-radius: 15px 15px 0px 0px;
     object-fit: cover;
    }
   
  .detailActivite1{
    height: 10%;
    padding: 20px;
    display: flex;
    align-items: center ;
  }
  .detailActivite1 > h4{
   display: flex;
   
   margin-block-start:0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
   margin-inline-end: 0px;
   font-weight: bold
  }
 
  .box2
  {
    display: flex;
    flex-direction: column;
    gap:4%;
    height: 100%;
     width: 25%;
     
  }

  .petiteCard{
    width: 100%;
    height: 48%;
    display: flex;
    flex-direction: column;
    box-shadow: #f2f2f2 5px 5px 5px 1px;
    border-radius: 25px;
  }
  .imgActivite
  {
   display:flex;
   width: 100%;
   height: 85%;
   
  }
  .imgActivite  > img
   {
    display:flex;
    width: 100%;
    height: 135px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
   }
  
 .detailActivite{
   height: 15%;
   padding: 20px;
   display: flex;
   align-items: center ;
 }
 .detailActivite > h4{
  display: flex;
  margin-block-start:0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
 }

@media screen and ( max-width: 768px)
{

header
{
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width:100%;
}

#logo
{
 
  align-content: flex-start;
  flex:none;  

}

nav
{
order: 2;
flex : 1 0 100%;
height: 50px;
} 
.lien_menu 
{
 width :100%;
}
.lien_menu:hover 
{
  color: #0065fc;
  border-bottom: 3px solid #0065fc; 
  padding-bottom: 20px;
  border-top: none;
} 
#inscrire{
  padding-top: 50px;
}
/* section 0 */
#section0
{
  
  padding-left: 20px;
  padding-right: 20px;
}
#recherche
{
  width:100%;
}
.search
{
  width: 230px;
}
#button
{
  display: none;
}

.iconloupe
{
  display:flex;
  align-items: center;
  justify-content: center; 
  color: white;
  width: 50px;
  height: 50px;
  cursor:pointer;
  border-radius: 10px 10px 10px 10px;
  border:none;
  background-color: #0065fc;
}
.iconloupe > i
{
  display: flex;
}

.filtre{
 
  flex-direction: column;
  align-items: flex-start;
 
}

/*section2*/
#section2
{
  flex-direction: column-reverse;
  padding: 0px;
  width: 100%;

}

.conteneur {
  flex-direction: column;
 width: auto;  
}
#hebergement
{
  width: auto;

}
#populaire
{
  flex-direction: column;
  width: auto;
}

.box{
  flex-direction: column;
  width: auto;

}

/*section3*/

.conteneur1{
  flex-direction: column;
  width: 100%;
  height: unset;
  padding: 0px;
  
}
.box1
{
  width: 100%;
  height: 190px;
}
  .box2
   {
    width: 100%;
    gap:20px;
  }
  .imgActivite1
  {
   height: 70%;
   
  }
 .detailActivite1{
   height: 30%;
 }

 .imgActivite
 {
  height: 70%;
  
 }
.detailActivite{
  height: 30%;
}
  .petiteCard{
   height: 190px;
  }
/* footer */
footer {
  flex-direction: column;
  gap: 50px;
}

}